.App {
	text-align: center;
	background: rgb(221, 221, 221);
	background: linear-gradient(
		229deg,
		rgba(221, 221, 221, 1) 17%,
		rgba(255, 211, 227, 1) 66%
	);
}

.App h1 {
	color: #43655a;
	padding: 3rem 0;
}
